.forms-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    min-width: 300px;
}

.info-form {
    display: flex;
    flex-direction: column;
    row-gap: .25em;
    margin: 1.15em 2em;
    border: 1px solid black;
    box-shadow: 26px -28px 4px -18px rgba(0,0,0,0.66);
    padding: .75em 1em;
}

button { 
    border: none;
    width: 225px;
    border-radius: .25em;
    padding: .20em .5em;
}

.info-form > button {
    align-self: center;
}

.add {
    background-color: var(--add-blue);
}

.delete {
    background-color: var(--delete-red);
}

.submit {
    background-color: var(--submit-yellow);
}


.input-wrap {
    display: flex;
    column-gap: 1em;
    justify-content: space-between;
}