:root {
    --dark-purple: #602060;
    --submit-pink: #ffcccc;
    --submit-yellow: #ffff99;
    --black: #000000;
    --white: #ffffff;
    --add-blue: #33ccff;
    --delete-red: #ff6666;
    font-family: Vollkorn, Karla;
}

@font-face {
    font-family: "Karla";
    src: local("Karla"), url(../assets/fonts/Karla-VariableFont_wght.ttf) format("truetype")
}

@font-face {
    font-family: "Vollkorn";
    src: local("Vollkorn"), url(../assets/fonts/Vollkorn-VariableFont_wght.ttf) format("truetype")
}

body {
    height: 100vh;
}

#root{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.info-input {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}
